html,
body {
  padding: 0;
  margin: 0;
  background: url(../assets/forest.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#game:before {
  content: 'loading...';
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 50px;
  transform: translate(-50%, -50%);
}
#score {
  font-size: 20px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.p5Canvas {
  position: relative;
  z-index: 1;
  background: #000;
  box-shadow: 0 0 70px #000;
  font-size: 20px;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#p5_loading {
  display: none;
}

#game {
  position: relative;
  opacity: 0;
  animation: fade-in 0.5s forwards;
  width: 900px;
  height: 800px;
  box-shadow: 0 0 70px #000;
  background: rgb(51, 51, 51);
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

.red {
  color: red;
}

#settings {
  position: fixed;
  height: 50px;
  width: 50px;
  right: 50px;
  bottom: 50px;
  background-color: beige;
  border-radius: 50%;
  border: none;
  transition: all 0.1s;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#settings:active {
  background-color: #efefd6;
  transition: all 0.1s;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5),
    0 0 1px 0 rgba(0, 0, 0, 0.3);
}
#settings button {
  background-color: transparent;
  border: none;
}
#settings:active button {
  transform: translate(1px, 1px);
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
  background-color: transparent;
}
.menu-active {
  opacity: 1;
  transition: all 0.5s;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-container {
  padding: 20px;
  border-radius: 3px;
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}
.menu .sep {
  height: 1px;
  margin: 8px 0 8px 0;
  background: rgb(210,210,210);
}
.menu .item {
  font-size: 18px;
  margin-bottom: 8px;
  display: flex;
}
.menu .ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.pink {
  background: pink;
}
.purple {
  background: purple;
}
.green {
  background: green;
}
.orange {
  background: orange;
}
.menu .bullet {
  width: 20px;
  height: 10px;
  transform: translateY(5px);
  border-radius: 10px;
  background: #000;
}

@keyframes turnZ1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(90deg);
  }
}
@keyframes turnZ1-r {
  from {
    transform: rotateZ(90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes turnZ2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}
@keyframes turnZ2-r {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes turnZ3 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-90deg);
  }
}
@keyframes turnZ3-r {
  from {
    transform: rotateZ(-90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes turnX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
@keyframes turnX-r {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
@keyframes turnY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes turnY-r {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
